.fs-medium {
    font-size: 1.2rem;
    padding-bottom: 8px;
}
.fs-small {
    font-size: 1.05rem;
}
a {
    text-decoration: none;
    color: inherit;
}

.pr-0 {
    padding-right: 0rem !important;
}

