<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<div class="container-fluid px-0">
    <div class="row">
        <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1 mt-3 mt-sm-5">
            <mat-card class="mt-0 mt-lg-3 mx-3">
                <mat-card-title class="p-2">
                    Post Requirement
                </mat-card-title>
                <mat-card-subtitle class="p-2 py-1">
                    <div class="d-flex flex-wrap justify-content-start align-items-center">
                        <div class="mb-3 mb-sm-0">Post Requirement for Cylinder</div>
                    </div>
                </mat-card-subtitle>
                <mat-card-content>
                    <form (ngSubmit)="onSubmit()" #postRequirementForm="ngForm">
                        <div class="container-fluid px-2">
                            <div class="row">
                                <div class="col-md-12 mb-2">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>Patient Name</mat-label>
                                        <input type="text" placeholder="Enter Patient Name" aria-label="Number" matInput
                                            [matAutocomplete]="auto" name="patient" [(ngModel)]="requirement.patient"
                                            #patient="ngModel" required (input)="onSearchChange($event.target.value)">
                                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                                            <mat-option *ngFor="let patient of patients" [value]="patient">
                                                {{patient.patientName}}
                                            </mat-option>
                                        </mat-autocomplete>
                                        <mat-error *ngIf="patient.invalid">{{getErrorMessage('Patient name')}}</mat-error>
                                        <mat-hint>Start typing patient name and pick from dropdown</mat-hint>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6 mb-2">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>Type of requirement</mat-label>
                                        <mat-select name="type" [(ngModel)]="requirement.type" #type="ngModel" required>
                                            <mat-option *ngFor="let type of types" [value]="type.value">
                                                {{type.viewValue}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="type.invalid">{{getErrorMessage('Type of cylinder requirement')}}</mat-error>
                                        <mat-hint>Pick your requirement type</mat-hint>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6 mb-2">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>Enter requirement date</mat-label>
                                        <input name="requiredAt"  [(ngModel)]="requirement.requiredAt" #requiredAt="ngModel" matInput [matDatepicker]="dp3" required>
                                        <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                                        <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                                        <mat-error *ngIf="requiredAt.invalid">{{getErrorMessage('Cylinder requirement date')}}</mat-error>
                                        <mat-hint>Pick when the cylinder is required</mat-hint>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-12 mb-3" *ngIf="error">
                                    <div class="d-flex">
                                        <div class="mr-1">
                                            <mat-error>
                                                <mat-icon>error</mat-icon>
                                            </mat-error>
                                        </div>
                                        <div class="">
                                            <mat-error>
                                                {{error}}
                                            </mat-error>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 my-2">
                                    <button mat-raised-button class="w-100" color="primary"
                                        [disabled]="!postRequirementForm.form.valid">Post Requirement</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>